{% extends "homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block banner %}
    {% include "banner.html" %}
{% endblock %}

{% block threebox %}
    {% include "threebox.html" %}
{% endblock %}

{% block products %}
    {% include "products.html" %}
{% endblock %}

{% block computer %}
    {% include "computer.html" %}
{% endblock %}

{% block customer %}
    {% include "customer.html" %}
{% endblock %}

{% block contact %}
    {% include "contact.html" %}
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

